.ui-helper-reset, .ui-menu, ol, ul {
    list-style: disc !important;
	margin-left: 0px;
}

#hrbr-widget * {
    box-sizing: border-box;
}

#main ul li {
    list-style-type: none !important;
}

#hrbr-widget:before, #hrbr-widget:after {
    box-sizing: border-box;
}

#hrbr-widget,
.hrbr-substrate__form-setting{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
}

#hrbr-widget hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

#hrbr-widget section {
    display: block;
}

#hrbr-widget h3, #hrbr-widget .h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#hrbr-widget h2, #hrbr-widget .h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#hrbr-widget a {
    text-decoration: none;
}

#hrbr-widgeta:hover, #hrbr-widgeta:focus {
    color: #2a6496;
    text-decoration: underline;
}

#hrbr-widget a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#hrbr-widget button::-moz-focus-inner, #hrbr-widget input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#hrbr-widget button, #hrbr-widget select {
    text-transform: none;
}

#hrbr-widget small, #hrbr-widget .small {
    font-size: 85%
}

.hrbr-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.hrbr-container:before, .hrbr-container:after, .hrbr-row:before, .hrbr-row:after, .hrbr-form-group:before, .hrbr-form-group:after {
    content: " ";
    display: table;
}

.hrbr-container:after, .hrbr-row:after, .hrbr-form-group:after {
    clear: both;
}

.hrbr-row {
    margin-left: -15px;
    margin-right: -15px;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hrbr-row-mod {
    border-right: 1px solid #d3d3d3;
    margin-left: -15px;
    margin-right: -15px;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    
    
    -webkit-box-align: start;
    
    
    -webkit-align-items: flex-start;
    
    
        -ms-flex-align: start;
    
    
            align-items: flex-start;
}
.hrbr-row-mod .hrbr-col {
    width: 10%;
}
.hrbr-row .hrbr-btn {
    margin: 15px 0;
}
.hrbr-col-md-2, .hrbr-col-md-4, .hrbr-col-md-5, .hrbr-col-md-8, .hrbr-col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .hrbr-col-md-2, .hrbr-col-md-2, .hrbr-col-md-4, .hrbr-col-md-5, .hrbr-col-md-8, .hrbr-col-md-12 {
        float: left;
    }

    .hrbr-col-md-12 {
        width: 100%
    }

    .hrbr-col-md-8 {
        width: 66.66666667%
    }

    .hrbr-col-md-5 {
        width: 41.66666667%
    }

    .hrbr-col-md-4 {
        width: 33.33333333%
    }

    .hrbr-col-md-3 {
        width: 25%
    }


    .hrbr-col-md-2 {
        width: 16.66666667%
    }
}

.hrbr-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.hrbr-label[href]:hover, .hrbr-label[href]:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.hrbr-label:empty {
    display: none;
}

.hrbr-btn .hrbr-label {
    position: relative;
    top: -1px;
}

.hrbr-label-default {
    background-color: #999;
}

.hrbr-label-default[href]:hover, .hrbr-label-default[href]:focus {
    background-color: gray;
}

.hrbr-label-primary {
    background-color: #3084d3;
}

.hrbr-label-primary[href]:hover, .hrbr-label-primary[href]:focus {
    background-color: #3071a9;
}

.hrbr-label-success {
    background-color: #5cb85c;
}

.hrbr-label-success[href]:hover, .hrbr-label-success[href]:focus {
    background-color: #449d44;
}

.hrbr-label-info {
    background-color: #5bc0de;
}

.hrbr-label-info[href]:hover, .hrbr-label-info[href]:focus {
    background-color: #31b0d5;
}

.hrbr-label-warning {
    background-color: #f0ad4e;
}

.hrbr-label-warning[href]:hover, .hrbr-label-warning[href]:focus {
    background-color: #ec971f;
}

.hrbr-label-danger {
    background-color: #d9534f;
}

.hrbr-label-danger[href]:hover, .hrbr-label-danger[href]:focus {
    background-color: #c9302c;
}

.hrbr-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
.hrbr-btn:focus, .hrbr-btn:active:focus, .hrbr-btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
*/

.hrbr-btn:hover, .hrbr-btn:focus {
    color: #333;
    text-decoration: none;
}

.hrbr-btn:active, .hrbr-btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.hrbr-btn.disabled, .hrbr-btn[disabled], fieldset[disabled] .hrbr-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
}

.hrbr-btn-primary {
    color: #fff;
    background-color: #3084d3;
    border-color: #357ebd;
}

.hrbr-btn-primary:hover, .hrbr-btn-primary:focus, .hrbr-btn-primary:active, .hrbr-btn-primary.active, .open .dropdown-toggle.hrbr-btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.hrbr-btn-primary:active, .hrbr-btn-primary.active, .open .dropdown-toggle.hrbr-btn-primary {
    background-image: none;
}

.hrbr-btn-primary.disabled, .hrbr-btn-primary[disabled], fieldset[disabled] .hrbr-btn-primary, .hrbr-btn-primary.disabled:hover, .hrbr-btn-primary[disabled]:hover, fieldset[disabled] .hrbr-btn-primary:hover, .hrbr-btn-primary.disabled:focus, .hrbr-btn-primary[disabled]:focus, fieldset[disabled] .hrbr-btn-primary:focus, .hrbr-btn-primary.disabled:active, .hrbr-btn-primary[disabled]:active, fieldset[disabled] .hrbr-btn-primary:active, .hrbr-btn-primary.disabled.active, .hrbr-btn-primary[disabled].active, fieldset[disabled] .hrbr-btn-primary.active {
    background-color: #3084d3;
    border-color: #357ebd;
}

.hrbr-btn-primary .badge {
    color: #3084d3;
    background-color: #fff;
}

.hrbr-btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.hrbr-btn-lg {
    padding: 10px 16px !important;
    font-size: 18px !important;
    line-height: 1.33333 !important;
    border-radius: 6px !important;
}

.hrbr-btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.hrbr-form-group {
    margin-bottom: 15px;
}
.hrbr-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.hrbr-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.hrbr-form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.hrbr-form-control:-ms-input-placeholder {
    color: #999;
}

.hrbr-form-control::-webkit-input-placeholder {
    color: #999;
}

.hrbr-form-control[disabled] .hrbr-form-control.disabled, .hrbr-form-control[readonly], fieldset[disabled] .hrbr-form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.hrbr-form-control[disabled]  {
	  background-color: #eee;
    opacity: 1;
	  cursor: not-allowed !important;
}

.hrbr-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.hrbr-pagination-sm > li > a, .hrbr-pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.hrbr-pagination-sm > li:first-child > a, .hrbr-pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.hrbr-pagination-sm > li:last-child > a, .hrbr-pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.hrbr-wrapper-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.hrbr-wrapper-pagination > li {
    display: inline;
}

.hrbr-wrapper-pagination > li > a, .hrbr-wrapper-pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #e3e3e3 !important;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.hrbr-wrapper-pagination > li:first-child > a, .hrbr-wrapper-pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.hrbr-wrapper-pagination > li:last-child > a, .hrbr-wrapper-pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.hrbr-wrapper-pagination > li > a:hover, .hrbr-wrapper-pagination > li > span:hover, .hrbr-wrapper-pagination > li > a:focus, .hrbr-wrapper-pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

.hrbr-wrapper-pagination > .active > a, .hrbr-wrapper-pagination > .active > span, .hrbr-wrapper-pagination > .active > a:hover, .hrbr-wrapper-pagination > .active > span:hover, .hrbr-wrapper-pagination > .active > a:focus, .hrbr-wrapper-pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #3084d3;
    border-color: #3084d3;
    cursor: default;
}

.hrbr-wrapper-pagination > .disabled > span, .hrbr-wrapper-pagination > .disabled > span:hover, .hrbr-wrapper-pagination > .disabled > span:focus, .hrbr-wrapper-pagination > .disabled > a, .hrbr-wrapper-pagination > .disabled > a:hover, .hrbr-wrapper-pagination > .disabled > a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.hrbr-wrapper-pagination-lg > li > a, .hrbr-wrapper-pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.hrbr-wrapper-pagination-lg > li:first-child > a, .hrbr-wrapper-pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.hrbr-wrapper-pagination-lg > li:last-child > a, .hrbr-wrapper-pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.hrbr-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#hrbr-widget #hrbr-swap-page a {
    font-weight: 700;
    margin: 0 5px;
}


#hrbr-widget .hrbr-back-button, 
#hrbr-widget .hrbr-email-button {
    padding: 10px;
    min-width: 100px;
}

#hrbr-widget #hrbr-swap-page .hrbr-page-url {
    padding: 10px;
    width: 100px;
}

#hrbr-widget #hrbr-swap-page .hrbr-back-button span {
    margin-left: 10px;
}

#hrbr-widget .hrbr-home .hrbr-container #hrbr-swap-page .hrbr-spacer {
    height: 20px;
}
#hrbr-filters {
    margin-right: -6px;
    margin-left: -6px;
}

#hrbr-filters>*{
    padding-right: 6px;
    padding-left: 6px;
}
@media (max-width: 992px) {
    .hrbr-home .hrbr-bottom-content .hrbr-job-list-cont #hrbr-filters div {
        margin-bottom: 10px;
    }
    
    .hrbr-row {
        display: inherit;
    }
    .hrbr-substrate__form-setting {
        width: 90%;
    }
   .hrbr-substrate__form-setting .hrbr-row-mod {
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li {
    background: #fff;
    list-style: none !important;
    border-top: 1px solid #d3d3d3;
    padding: 12px;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li:hover {
    background: #f3f3f3;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li:last-child {
    border-bottom: 1px solid #d3d3d3;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li:first-child {
    margin-top: 15px;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li p {
    margin: 0;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-job-details .hrbr-label {
    background: #d37f30;
    color: #fff;
    margin-left: 10px;
    padding: 0.2em 0.3em;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-job-details a.hrbr-title {
    font-weight: 800;
    color: black;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-job-details a.hrbr-title:hover {
    color: #3084d3;
    text-decoration: none;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-job-details .hrbr-location,
.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-job-details .hrbr-department {
    font-weight: 400;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-view-button {
    line-height: 60px;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li .hrbr-view-button a {
    width: 100%
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li.job.general {
    background: #eee;
}

.hrbr-home .bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li.job.general .hrbr-view-button {
    line-height: 40px;
}

.hrbr-home #hrbr-swap-table .hrbr-jobs nav {
    text-align: center;
}

.hrbr-btn-primary {
    background: #3084d3;
    color: #fff;
    border: 1px solid #3084d3;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.hrbr-btn-primary:hover {
    background: #fff;
    color: #3084d3;
    border: 1px solid #3084d3;
}

.hrbr-btn-primary:focus {
    background: #3084d3;
    color: #fff;
    border: 1px solid #3084d3;
}

.hrbr-btn-primary:active {
    color: #3084d3;
}
.hrbr-btn-primary-invert {
    background: #dbdbdb;
    color: #3084d3;
    border: 1px solid #dbdbdb;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.hrbr-btn-primary-invert:hover{
    background: #3084d3;
    color: #fff;
    border: 1px solid #3084d3;
    text-decoration: none;
}
.hrbr-btn-primary-invert:focus {
    background: #3084d3;
    color: #fff;
    border: 1px solid #3084d3;
    text-decoration: none;
}
/* hrbr-form-setting */
* {
    box-sizing: border-box;
}

.hrbr-substrate__form-setting {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    
    max-width: 991px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    
}
.hrbr-btn:active,
.hrbr-btn:hover,
.hrbr-btn:focus {
    outline: none;
}
.hrbr-substrate__form-setting  label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.hrbr-generate-field {
    
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    
    -webkit-transition: all .3s ease 0s;
    
    transition: all .3s ease 0s;
    margin-left: -1px;
}

.hrbr-hidden {
    display: none!important;
}
/*
.hrbr-wrap__generate-code {
    margin-left: -15px;
    margin-right: -15px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
*/
.hrbr-generate-field .hrbr-generate-code {
    
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}
.hrbr-generate-field .hrbr-btn {
    width: 40%;
    margin-left: 30%;
    display: inline-block;
}
.hrbr-btn-preview {
    background: #d37f30;
    color: #fff;
    border: 1px solid #d37f30;
}
.hrbr-btn-preview:hover{
    color: #d37f30;
    background: #fff;
    
}
.hrbr-generate-field .hrbr-btn-preview {
    
    margin-left: 15px;
    width: 15%;
    
    -webkit-transition: all .3s ease 0s;
    
    transition: all .3s ease 0s;
    
}
.hrbr-generate-field,
.hrbr-form-setting__header{
    
    margin-top: 30px;
    border-top: 1px solid #D3D3D3;
}


.hrbr-form-setting__header {
    width: 100%;
    border-top: none;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #d3d3d3;
    padding: 0;
    text-align: center;
}
.hrbr-form-setting__footer .hrbr-btn{
    width: 40%;
}
.hrbr-substrate__form-setting .hrbr-row {
    -webkit-align-items:  inherit;
    -webkit-box-align:  inherit;
    -ms-flex-align:  inherit;
    -ms-grid-row-align:  inherit;
        align-items:  inherit;
}
.hrbr-input-section,
.hrbr-checkbox-section {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    margin-right: -1px;   
}
.hrbr-input-section {
    border-right: 1px solid #fff;
}
.hrbr-checkbox-section {
    width: 30%;
}
.hrbr-substrate__form-setting h3{
    margin-top: 0;
    margin-bottom: 25px;
}


.hrbr-input-section {
    width: 70%;
}
.hrbr-input-section .hrbr-form-group {
    margin-bottom: 10px;
}
.hrbr-form-group {
    margin-bottom: 15px;
}
.hrbr-checkbox-list  {
    margin-top: 33px;
}
.hrbr-checkbox-list label {
    cursor: pointer;
}
.hrbr-checkbox-list li,
.hrbr-radio-list li{
    margin-top: 6px;
    margin-bottom: 20px;
}
#hrbr-action-all {
    min-width: 146px;
}
/*anotherStyleRadio$Checkbox*/

input[type=checkbox],
input[type=radio] {
    opacity: 0;
    position: absolute;
//    z-index: 1061;
    width: 18px;
    height: 18px;
}

input[type=checkbox]:checked,
input[type=radio]:checked,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none !important;
}

input[type=checkbox] + .hrbr-lbl,
input[type=radio] + .hrbr-lbl {
    position: relative;
//    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 16px;
    min-height: 14px;
    min-width: 14px;
    font-weight: normal;
    padding-left: 25px;
}

input[type=checkbox] + .hrbr-lbl.padding-16::before,
input[type=radio] + .hrbr-lbl.padding-16::before {
    margin-right: 16px;
}

input[type=checkbox] + .hrbr-lbl.padding-12::before,
input[type=radio] + .hrbr-lbl.padding-12::before {
    margin-right: 12px;
}

input[type=checkbox] + .hrbr-lbl.hrbr-padding-8::before,
input[type=radio] + .hrbr-lbl.hrbr-padding-8::before {
    margin-right: 8px;
    position: absolute;
    top: 3px;
    left: 0;
}

input[type=checkbox] + .hrbr-lbl.padding-4::before,
input[type=radio] + .hrbr-lbl.padding-4::before {
    margin-right: 4px;
}

input[type=checkbox] + .hrbr-lbl.padding-0::before,
input[type=radio] + .hrbr-lbl.padding-0::before {
    margin-right: 0px;
}

input[type=checkbox] + .hrbr-lbl::before,
input[type=radio] + .hrbr-lbl::before {
    font-family: Glyphicons Halflings;
    font-weight: normal;
    font-size: 12px;
    color: #777;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 17px;
    line-height: 16px;
    min-width: 16px;
    margin-right: 1px;
    margin-top: -5px;
}

input[type=checkbox] + .hrbr-lbl::before {
    border-radius: 3px;
}

input[type=checkbox]:checked + .hrbr-lbl::before {
    font-family: FontAwesome;
    display: inline-block;
    content: '\f00c'; /*checkbox checked*/
    background-color: #F5F8FC;
    border-color: #adb8c0;
    border-radius: 3px;
    font-size: 14px;
}

input[type=radio] + .hrbr-lbl {
    padding-left: 25px;
}

input[type=radio]:checked + .hrbr-lbl::before {
    font-size: 16px;
    border: none;
}

input[type=checkbox] + .large-chkbox.hrbr-padding-8::before {
    font-size: 16px;
}

input[type=checkbox]:hover + .hrbr-lbl::before,
input[type=radio]:hover + .hrbr-lbl::before,
input[type=checkbox] + .hrbr-lbl:hover::before,
input[type=radio] + .hrbr-lbl:hover::before {
    /*border-color: #1c7aad;*/
}

input[type=checkbox]:active + .hrbr-lbl::before,
input[type=radio]:active + .hrbr-lbl::before,
input[type=checkbox]:checked:active + .hrbr-lbl::before,
input[type=radio]:checked:active + .hrbr-lbl::before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=checkbox]:disabled + .hrbr-lbl::before,
input[type=radio]:disabled + .hrbr-lbl::before,
input[type=checkbox][disabled] + .hrbr-lbl::before,
input[type=radio][disabled] + .hrbr-lbl::before,
input[type=checkbox].disabled + .hrbr-lbl::before,
input[type=radio].disabled + .hrbr-lbl::before {
    background-color: #DDD !important;
    border-color: #CCC !important;
    box-shadow: none !important;
    color: #BBB;
}

input[type=radio] + .hrbr-lbl::before {
    border-radius: 36px;
    font-family: Glyphicons Halflings
    /*Arial, Helvetica, sans-serif*/
    ;
    font-size: 15px;
}

input[type=radio]:checked + .hrbr-lbl::before {
    content: "\e165"
    /* "\2022" */
    ;
}

input[type=radio]:checked + .hrbr-lbl.hrbr-lbl--mod.hrbr-padding-8::before {
    font-family: FontAwesome;
    content: '\f05d'
}

 input[type=radio] + .hrbr-lbl.hrbr-lbl--mod.hrbr-padding-8::before{
    bottom: 50%;
    margin-bottom: -10px;
    top: auto;
    font-size: 22px;    
}

/**anotherStyleRadio$Checkbox**/
.hrbr-clearfix {
    clear: both;
}
.hrbr-clearfix:before,
.hrbr-clearfix:after {
    display: table;
    content: " ";
}
/** hrbr-form-setting **/
@media (max-width: 768px) {
    #hrbr-widget #hrbr-swap-page a {
    font-weight: 700;
    margin: 0;
    }
    .hrbr-checkbox-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .hrbr-checkbox-list>li {
        width: 50%;
    }
    .hrbr-form-setting__footer .hrbr-btn {
        width: 100%;
    }
    .hrbr-substrate__form-setting .hrbr-row {
        display: inherit;        
    }
    .hrbr-substrate__form-setting .hrbr-row-mod {
        display: inherit;        
    }
    .hrbr-generate-field .hrbr-btn {
        margin-left: 0;
        width: 50%;
    }
    .hrbr-generate-field .hrbr-btn-preview{
        width: 30%;
        margin-left: 15px;
    }
    .hrbr-checkbox-section,
    .hrbr-input-section {
        width: 100%;
        border-right: none;
        border-left: none;
    }
    
    .hrbr-col-xs-12 {
        
        width: 100%!important;

    }
    .hrbr-back-button,
    .hrbr-email-button {
        width: 49.5%;
        float: left;
        padding: 8px;
        margin: 7px 0!important;
        display: block;
        text-align: center;

    }
    .hrbr-email-button{
        float: right;
    }
/*
    .hrbr-back-button {
        border-right: 1px solid #d3d3d3;
    }
*/
}

#hrbr-swap-page .hrbr-icon {
    width: 12px;
    height: 12px;
}
/*css for filters*/
.hrbr-row-flex {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-flex-wrap: -webkit-wrap;
    
            flex-wrap: -webkit-wrap;
    -ms-flex-wrap: -ms-wrap;
        flex-wrap: -ms-wrap;
    flex-wrap: wrap;
    
    -webkit-align-content: -webkit-flex-start;
    
            align-content: -webkit-flex-start;
    -ms-flex-align: -ms-flex-start;
        align-items: -ms-flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start

}
.hrbr-row-flex-all {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-align-content: space-around;
    
        -ms-flex-line-pack: distribute;
    
            align-content: space-around;

}
.hrbr-row-flex-all .hrbr-col{
/*    flex-grow: 1;*/
    width: auto;
    min-width: 50px;
}
.hrbr-row-flex-all .hrbr-col select {
    width: auto;
    min-width: 40px;
}
.hrbr-col {
  padding-left: 6px;
  padding-right: 6px;
  width: 25%;
  min-width: 200px;
  margin-bottom: 10px;
 }
 .hrbr-col select {
    width: 100%;
    min-width: 170px;
}

@media (max-width: 1370px ) {
    .hrbr-row-mod {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .hrbr-row-mod .hrbr-col {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .hrbr-row-flex-all .hrbr-col .hrbr-form-control {
        padding: 6px 4px;
    }
    .hrbr-row-flex-all {
        -webkit-flex-wrap: -webkit-wrap;
                flex-wrap: -webkit-wrap;
        -ms-flex-wrap: -ms-wrap;
            flex-wrap: -ms-wrap;
        flex-wrap: wrap;
    }
    
    .hrbr-row-flex-all .hrbr-col {
        width: 25%;
    }
}
 @media (min-width: 1201px){
    .hrbr-col {
        width: 25%;
    } 
}
 @media (min-width: 1501px){
    .hrbr-col {
        width: 20%;
    } 
}
 @media (max-width: 1200px){
    .hrbr-col {
        width: 33.33333333%;
    } 
}
@media (max-width: 992px){
    .hrbr-col {
        width: 50%;
    } 
}
@media (max-width: 768px){
    .hrbr-col {
        width: 100%;
    }
    .hrbr-row-flex-all .hrbr-col {
        width: 50%;
    }
}
/**css for filters**/

/*extra css filters*/
.hrbr-wr-fl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.hrbr-row-filters {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
}
.hrbr-wr-fl .hrbr-row-filters {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.hrbr-row-filters .hrbr-col {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 70px;
}
.hrbr-wr-fl .hrbr-row-search {
    width: 220px;
    max-width: 360px;
    padding-right: 15px;
}
.hrbr-wr-fl .hrbr-col select {
    min-width: 60px;
    padding: 6px;
}
/*.hrbr-row-filters,
.hrbr-row-search {
    margin-bottom: 15px;
}*/
.hrbr-row-search {
    margin-bottom: 15px;
}

@media (max-width: 1360px){
    .hrbr-wr-fl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .hrbr-wr-fl .hrbr-row-search {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        
    }
}
@media (max-width: 1160px){
    .hrbr-wr-fl .hrbr-row-filters { 
        -webkit-flex-wrap: wrap; 
            -ms-flex-wrap: wrap; 
                flex-wrap: wrap;
    }
}
@media (max-width: 600px){
    .hrbr-wr-fl .hrbr-row-filters .hrbr-col {
        width: 100%;
    }
}
/**extra css filters**/

button.hrbr-btn:active, button.hrbr-btn:focus {
    outline: none !important;
}
button.hrbr-btn::-moz-focus-inner {
    border: 0 !important;
}

#hrbr-modal {
    word-wrap: break-word;
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li.subgroup {
	color: grey;
	list-style-type: none !important;
	
	/* border-top: 1px solid #fff; */
}

.hrbr-home .hrbr-bottom-content .hrbr-job-list-cont .hrbr-jobs .hrbr-job-list li:hover.subgroup {
	background: #fff;
}


.hrbr-form-checkbox--hidden {
	display: none !important;
}
.hrbr-form-checkbox--hidden .hrbr-lbl:before,
.hrbr-form-checkbox--hidden .hrbr-lbl:after{
	content: none !important;
}